<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eureka.com</title>
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
    <!-- navbar -->
    <header class="header sticky">
      <a href="#" class="logo">EUREKA</a>
      <nav class="navbar">
        <a href="{% url 'home1' %}">HOME</a>

        <a href="{% url 'sem' %}">PROJECT</a>
        <a href="{% url 'workshop' %}">CONTACT US</a>
        <a href="{% url 'gallery' %}">ABOUT US</a>
        <a href="{% url 'team' %}">TEAM</a>
      </nav>
      <!-- <div class="bx bx-moon" id="darkMode-icon"></div>
      <div class="bx bx-menu" id="menu-icon"></div> -->
    </header>

    <!-- front pages -->
    <section class="home1" id="home1">
      <div class="home1-content">
        <h1 class="welcome">Welcome To</h1>
        <h3 data-text="eureka">Eureka</h3>
        <p>
          Eureka is an agency which basically serves web development,video
          editing and graphic designing services, and help people to grow their
          businesses.
        </p>
        <div class="social-media">
          <a href="#" style="--i: 7"><i class="bx bxl-twitter"></i></a>
          <a href="#" style="--i: 8"><i class="bx bxl-facebook-circle"></i></a>
          <a href="#" style="--i: 9"><i class="bx bxl-linkedin"></i></a>
          <a href="https://instagram.com/eureka.co.in?igshid=OGQ5ZDc2ODk2ZA==" target="_blank" style="--i: 10"><i class="bx bxl-instagram"></i></a>
        </div>
      </div>
      <div class="container_side">
        <!-- <input class="hit" id="myButton" type="button" value="HiteMe"> -->
        <div class="box">
          <div class="box_side" id="front">Web Design</div>
          <div class="box_side" id="back">Video Edditing</div>
          <div class="box_side" id="left">Backend</div>
          <div class="box_side" id="right">Hosting</div>
          <div class="box_side" id="top">Django</div>
          <div class="box_side" id="bottom">React</div>
        </div>
      </div>
    </section>

    <!-- About us -->
    <section class="about" id="about">
      <div class="about-img">
        <img src="/images/bro.png" alt="" srcset="" />
      </div>

      <div class="about-content">
        <h2 class="heading_about">About <span>Us</span></h2>
        <h3>Hi, I'm Here To Help You with your Next Project</h3>
        <h4 class="text">
          The main vision of eureka is to make online presense of our clients
          and help them with their businesses by making highly Responsive &
          Advance websites and other graphics works(if needed) started by Yash
          vardhan (Co.Founder) and Divyansh Vishwakarma (Founder). we would love
          to help you out,get in touch for more details.
        </h4>
      </div>
    </section>

    <!-- pricing -->
    <div class="prices">
    <h1 class="latest">Projects Prices</h1>
    <div class="wrapper">
      <div class="table basic">
        <div class="price-section">
          <div class="price-area">
            <div class="inner-area">
              <span class="text">$</span>
              <span class="price">45</span>
            </div>
          </div>
        </div>
        <div class="package-name"></div>
        <ul class="features">
          <li>
            <span class="list-name">One Selected Template</span>
            <span class="icon check"><i class="fas fa-check"></i></span>
          </li>
          <li>
            <span class="list-name">100% Responsive Design</span>
            <span class="icon check"><i class="fas fa-check"></i></span>
          </li>
          <li>
            <span class="list-name">Credit Remove Permission</span>
            <span class="icon cross"><i class="fas fa-times"></i></span>
          </li>
          <li>
            <span class="list-name">Lifetime Template Updates</span>
            <span class="icon cross"><i class="fas fa-times"></i></span>
          </li>
        </ul>
        <div class="btn"><button><a href="https://wa.me/qr/6QX57BMDYV7CH1" target="_blank" rel="noopener noreferrer"><i class='bx bxl-whatsapp'></i></a></button></div>
      </div>
      <div class="table premium">
        <div class="ribbon"><span>Recommend</span></div>
        <div class="price-section">
          <div class="price-area">
            <div class="inner-area">
              <span class="text">$</span>
              <span class="price">85</span>
            </div>
          </div>
        </div>
        <div class="package-name"></div>
        <ul class="features">
          <li>
            <span class="list-name">Five Existing Templates</span>
            <span class="icon check"><i class="fas fa-check"></i></span>
          </li>
          <li>
            <span class="list-name">100% Responsive Design</span>
            <span class="icon check"><i class="fas fa-check"></i></span>
          </li>
          <li>
            <span class="list-name">Credit Remove Permission</span>
            <span class="icon check"><i class="fas fa-check"></i></span>
          </li>
          <li>
            <span class="list-name">Lifetime Template Updates</span>
            <span class="icon cross"><i class="fas fa-times"></i></span>
          </li>
        </ul>
        <div class="btn"><button><a href="https://wa.me/qr/6QX57BMDYV7CH1" target="_blank" rel="noopener noreferrer"><i class='bx bxl-whatsapp'></i></a></button></div>
      </div>
      <div class="table ultimate">
        <div class="price-section">
          <div class="price-area">
            <div class="inner-area">
              <span class="text">$</span>
              <span class="price">150</span>
            </div>
          </div>
        </div>
        <div class="package-name"></div>
        <ul class="features">
          <li>
            <span class="list-name">All Existing Templates</span>
            <span class="icon check"><i class="fas fa-check"></i></span>
          </li>
          <li>
            <span class="list-name">100% Responsive Design</span>
            <span class="icon check"><i class="fas fa-check"></i></span>
          </li>
          <li>
            <span class="list-name">Credit Remove Permission</span>
            <span class="icon check"><i class="fas fa-check"></i></span>
          </li>
          <li>
            <span class="list-name">Lifetime Template Updates</span>
            <span class="icon check"><i class="fas fa-check"></i></span>
          </li>
        </ul>
        <div class="btn"><button type="submit"><a href="https://wa.me/qr/6QX57BMDYV7CH1" target="_blank" rel="noopener noreferrer"><i class='bx bxl-whatsapp'></i></a></button></div>
      </div>
    </div>
  </div>

    <!-- Latest Project -->
    <h1 class="latest">Latest Project</h1>
    <section class="work">
      <div class="grid_item">
        <div class="card">
          <div class="image_container">
            <img src="images/20230923_161100.jpg" alt="iron man" />
          </div>
          <div class="card_content">
            <h3><a href="https://lnkd.in/gE9YRTxy" target="_blank" rel="noopener noreferrer">ROBO MAINA WEBSITE</a></h3>
            <p>
             This website was developed by us during a techfest in a college.
             it took us 24hrs to built this-click on it to land on the page.
            </p>
          </div>
        </div>
      </div>
      <div class="grid_item">
        <div class="card">
          <div class="image_container">
            <img src="images/20230923_161100.jpg" alt="Car driver" />
          </div>
          <div class="card_content">
            <h3><a href="https://lnkd.in/gE9YRTxy" target="_blank" rel="noopener noreferrer">WORDPRESS WEBSITE</a></h3>
            <p>
             This is the wordpress website-it is mainly developed for the purposes of Blogging.
             Click on it land on the page.
            </p>
          </div>
        </div>
      </div>
      <div class="grid_item">
        <div class="card">
          <div class="image_container">
            <img src="images/20230923_161100.jpg" alt="network" />
          </div>
          <div class="card_content">
            <h3><a href="https://lnkd.in/gE9YRTxy" target="_blank" rel="noopener noreferrer">LANDING PAGE</a></h3>
            <p>
              This is the only Landing Page developed by us using HTML,CSS,JAVA SCRIPT-Fully Responsive.
              Click on it to land on the page.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Our skills -->
    <section class="section-third" id="section-third">
      <h2>OUR SKILLS</h2>
      <div class="section-third-task">
        <div class="task-1">
          <img src="images/php.png" alt="icon1" srcset="" />
          <h3>GRAPHIC DESIGN</h3>
         <p>Elevate your brand with our professional graphic design services. Our team of creative experts will craft stunning visuals that capture your unique identity and engage your audience.





          </p>
        </div>
        <div class="task-2">
          <img src="images/videoEditting.png" alt="icon1" srcset="" />
          <h3>WEB DESIGNING</h3>
          <p>
            Transform your online vision into reality with our web designing services. Our skilled team specializes in creating captivating, responsive websites that leave a lasting impression.</p>
          </p>
        </div>
        <div class="task-3">
          <img src="images/art.png" alt="icon1" srcset="" />
          <h3>VIDEO EDITING</h3>
          <p>
            Elevate your video content with our professional video editing services. Our talented team of editors brings your footage to life, enhancing its quality, storytelling, and impact.
       
          </p>
        </div>
      </div>
    </section>

    <!-- contact us -->
    <section class="contact" id="contact">
      <h2 class="heading">Contact</h2>
      <form action="#">
        <div class="input-box">
          <input type="text" placeholder="Full Name" />
          <input type="email" placeholder="Email Address" />
        </div>
        <div class="input-box">
          <input type="number" placeholder="Mobile Number" />
          <input type="text" placeholder="Email Subject" />
        </div>
        <textarea
          name=""
          id=""
          cols="30"
          rows="10"
          placeholder="Your Message"
        ></textarea>
        <input type="submit" value="Send Message" class="btn" />
      </form>
    </section>

    <!-- footer design -->
    <footer class="footer">
      <div class="footer-text">
        <p>Copyright &copy; 2023 by Eureka | All Rights Reserved</p>
      </div>
      <div class="footer-iconTop">
        <a href="#home1"><i class="bx bx-up-arrow-alt"></i></a>
      </div>
    </footer>
    <script src="index.js"></script>
  </body>
</html>
