{% extends 'resorces_app/base.html' %}

{% block 'title' %}home{% endblock %}
{% load static %}
{% block 'mainContent' %}
<section id="particles-js" class="heading">
    <h1>MMMUT Resource Hub</h1>
    <p> Empowering Your Academic Journey!</p>
    
  </section>
  <!-- <a href="something" class="button3">Button</a>
  <a href="something" class="button3">It's getting old</a> -->
  
  <section class="features">
    {% for i in branch %}
    <div class="feature-container">

      <a href="pyq/{{i.branch_name}}"> <img src="media/{{i.Image}}" alt="Flexbox Feature"></a>
      <!-- <h2>{{i.branch_name}}</h2> -->
      <a href="pyq/{{i.branch_name}}">{{i.branch_name}}</a>
      <p>{{i.description}}</p>
    </div>
    {% endfor %}
  </section>


<div class="foot">
  <div class="text">
    <p>Copyright all right reserved</p>
  </div>
</div>
{% endblock %}

